<h1><br><br><br></h1>
<a href="#"><h4>Go to Top</h4></a>
</div>
</body>
<div class="footer">
<table>
<small>Source:<a href="https://www.irctc.co.in/">irctc.co.in</a></small>
<tr>
<td><a href="http://localhost:3002/irctc/about" id="q"><h4>About</h4></a></td>
<td><a href="http://localhost:3002/irctc/about" id="q"><h4>Terms</h4></a></td>
<td><a href="http://localhost:3002/irctc/about" id="q"><h4>Conditions</h4></a></td>
</tr>
<tr>
<td><a href="http://localhost:3002/irctc/about" id="q"><h4>Contact</h4></a></td>
<td><a href="http://localhost:3002/irctc/about" id="q"><h4>FAQ</h4></a></td>
<td><a href="http://localhost:3002/irctc/about" id="q"><h4>Blog</h4></a></td>
</tr>
<tr>
<td><a href="http://localhost:3002/irctc/about" id="q"><h4>Location</h4></a></td>
<td><a href="http://localhost:3002/irctc/about" id="q"><h4>Press</h4></a></td>
<td><a href="http://localhost:3002/irctc/about" id="q"><h4>Developers</h4></a></td>
</tr>
</table>
</div>
</div>
</html>	