<!DOCTYPE html>
<html>
<head>
  <title>Railway app</title>
  <link href="/assets/web.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
<a href="http://localhost:3002/" class="navbar-brand">Home</a>
</div>
<div class="collapse navbar-collapse" id="bs-nav-demo">
<ul class="nav navbar-nav">
<li><a href="http://localhost:3002/irctc/about">About</a></li>
<li><a href="http://localhost:3002/searchpage">Train Route</a></li>
<li><a href="http://localhost:3002/runstatuspage">Train Running status</a></li>
<li><a href="http://localhost:3002/pnrstatuspage">PNR status</a></li>
<li><a href="http://localhost:3002/weatherpage">Weather status</a></li>
<li><a href="http://localhost:3002/trainspage">Available Trains</a></li>
<li><a href="http://localhost:3002/namepage">Train name or Number</a></li>
<li><a href="http://localhost:3002/farepage">Train fare</a></li>
<li><a href="http://localhost:3002/cancelpage">Cancelled Trains</a></li>
</ul>
</div>
</div>
</nav>
<h1><br></h1>
<div id="mainpage">