<% include partials/header %>
<h2>About:</h2>
<p>&nbsp&nbsp&nbsp&nbspThe API is taken from (https://api.railwayapi.com), providing data after each updation. The data recieved may not be accurate one. It is a simple Representation of Fetched Data.</p>
<h4>API</h4>
<p>&nbsp&nbsp&nbsp&nbspAPI is the acronym for Application Programming Interface, which is a software intermediary that allows two applications to talk to each other. Each time you use an app like Facebook, send an instant message, or check the weather on your phone, you’re using an API.You must have an API key to use the API functions. For getting API key one must complete the registration to get their API key.</p>

<h3>Terms & Conditions</h3>
<p>&nbsp&nbsp&nbsp&nbspKindly dont use website for long time, as the API key Provided by railwaypi.com is valid for few months and a limited clicks i.e. after a period of time the key will crash resulting to blank page.
<h3>Contacts</h3>
<p>&nbsp&nbsp&nbsp&nbspCustomer Care Numbers : 0755-6610661 , 0755-3934141 (Language: Hindi and English)<br>For Railway tickets booked through IRCTC<br>General Information<br>I-tickets/e-tickets : care@irctc.co.in<br>For Cancellation E-tickets : etickets@irctc.co.in<br>For Mumbai Suburban Season tickets : seasontickets@irctc.co.in<br>For IRCTC SBI Card users who do not receive the card within 01 month from the date of application kindly call on the Railway SBI Card Helpline nos. at 0124-39021212 or 18001801295 (if calling from BSNL/MTNL line) or send email to feedback.gesbi@ge.com. For other queries on your IRCTC SBI card account, kindly email at loyaltyprogram@irctc.co.in.<br>Registered Office / Corporate Office :<br>Indian Railway Catering and Tourism Corporation Ltd.,<br>B-148, 11th Floor, Statesman House,<br>Barakhamba Road, New Delhi 110001.<br></p>
<h3>FAQ and Blog</h3>
<p>&nbsp&nbsp&nbsp&nbspFrequently Asked Questions<br>General Features of Internet Tickets.<br>E-Ticket<br>Tatkal<br>Tatkal bookings are allowed in all classes except First AC and Executive class. Ladies and general quota cannot be opted for along with Tatkal quota.<a href="https://indianrailways.info/faq/">Read more</a>
<h3>Location</h3>
<p>&nbsp&nbsp&nbsp&nbspRegistered Office / Corporate Office :<br>Indian Railway Catering and Tourism Corporation Ltd.,<br>B-148, 11th Floor, Statesman House,<br>Barakhamba Road, New Delhi 110001.<br></p><a href="https://www.indiamart.com/irctc-regional-office/aboutus.html"><h3>Read more</h3></a>
<h3>About Developer</h3>
<p>&nbsp&nbsp&nbsp&nbspDeveloped and Hosted by a B.Tech. 3rd year student (2016-20) from Jaypee University of Engineering and Technology, Guna, Madhya Pradesh.
<h4>Thanks For help and support</h4>
<% include partials/footer %>