<%include partials/header%>
<h2>Welcome to Cancelled Train Page.</h2>
<form action="/irctc/cancel" method="GET">
<h4>Enter Date </h4>&nbsp<input type="text" name="date"  placeholder="dd-mm-yyyy format"><br>
<input id="submit" type="submit">
<a href="http://localhost:3002/cancelpage"><h4>Reload!!</h4></a>
</form>
<%include partials/footer%>