<%include partials/header%>
<h1>Welcome to Name/No Page.</h1>
<form action="/irctc/name/no" method="GET">
<h4>Enter Train name or number to get vice-versa</h4>&nbsp<input type="text" name="nameno"  placeholder="Enter Train name/no">
<br>
<input id="submit" type="submit">
<a href="http://localhost:3002/namepage"><h4>Reload!!</h4></a>
</form>
<h1><br></h1>
<%include partials/footer%>