<%include partials/header%>
<h1>Welcome to PNR Status Page.</h1>
<form action="/irctc/pnrstatus" method="GET">
<h4>Enter PNR Number</h4>&nbsp<input type="text" name="pnr"  placeholder="Enter PNR number"><br>
<input id="submit" type="submit">
<a href="http://localhost:3002/pnrstatuspage"><h4>Reload!!</h4></a>
</form>
<%include partials/footer%>