<% include partials/header %>
<h1>Welcome to Train Route Page.</h1>
<form action="/irctc/route" method="GET">
<h4>Enter Train Number(eg:19166 for Sbarmati)</h4>&nbsp<input type="text" name="trainno"  placeholder="Enter train number"><br>
<input id="submit" type="submit">
<a href="http://localhost:3002/searchpage"><h4>Reload!!</h4></a>
</form>
<% include partials/footer %>