<%include partials/header%>
<h1>Welcome to Weather Page.</h1>
<form action="/irctc/weather " method="GET">
<h4>Enter City Name</h4><input type="text" name="city"  placeholder="Enter City"><br>
<input id="submit" type="submit">
<a href="http://localhost:3002/weatherpage"><h4>Reload!!</h4></a>
</form>
<%include partials/footer%>